::selection {
  background: transparent;
}

.car-table {
  margin: 20px;
}

.layer {
  margin: 10px 0 0 0;  
}

.tt-table {
  width: 100%;
}

.tt-panel>div {
  display: inline-block;
}

.tt-panel>div:nth-child(1) select {
  height: 2em;
  width: 8em;
}

.tt-panel>div:nth-child(2) {
  float: right;
}
.tt-panel>div:nth-child(2) input {
  width: 15em;
  height: 1.5em;
}


.tt-thead th {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
  font-weight: bold;
}
.tt-tbody {
  font-weight: 200
}
.tt-tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.tt-tbody tr:nth-child(even) {
  background-color: #fff;
}
.tt-tbody td {
  padding: 8px 10px; /**/
  white-space: nowrap;
  display: table-cell;
}
.tt-tbody tr:hover {
  background-color: #f6f6f6;
}

.sorting {
  background-image: url(../static/images/sort_both.png);
  cursor: pointer;
  background-position: center right;
  background-repeat: no-repeat;
}
.sorting-asc {
  background-image: url(../static/images/sort_asc.png);
}
.sorting-desc {
  background-image: url(../static/images/sort_desc.png);
}

.tt-pagination {
  float: right;
  margin-top: 12px;
  margin-right: 10px;
  vertical-align: middle;
  /* font-weight: 300; */
}
.tt-pagination div{
  display: inline-block;
  font-size: 16px;
  vertical-align: inherit;
  /* font-weight: inherit; */
}
.tt-pagination>:nth-child(1) {
  /* font-weight: inherit; */
  font-weight: 200;
  cursor: pointer;
}
.tt-pagination>:nth-child(3) {
  /* font-weight: inherit; */
  font-weight: 200;
  cursor: pointer;
}
.tt-pagination :nth-child(2) span {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  color: #333 !important;
  padding: 0.5em 1em;
  font-size: 12px;
  vertical-align: inherit;
  /* font-weight: inherit; */
}
.tt-pagination :nth-child(2) span.selected {
  border-bottom: 1px solid #979797;
}
.tt-pagination .current {
  border-bottom: 1px solid;
}
.tt-pagination :nth-child(2) span:not(.current) {
  border-bottom: 1px solid transparent;
}
